@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P",cursive;
  background-color: #222222;
}
.hidden{
  display: none!important;
}
.modal{
  background-color: white;
  margin: auto;
  height: 70%;
  width: 70%;
  z-index: 10;
  display: flex;
  padding: 100px 110px;
  position: absolute;
  line-height: 80px;
  border-radius: 20px;
  top: 14%;
  left: 14%;
}
.overlay{
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
}
.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 15px;
}

.primary-btn {
  font-family: "Press Start 2P", cursive;
  height: 62px;
  width: 180px;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.score-limit {
  color: #fff;
  font-size: 13px;
}
.score-text{
  padding-bottom: 10px;
}
.guess-text {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding-bottom: 30px;
}
.middle-container {
  position: relative;
}
.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 144px;
  height: 138px;
  background-color: #eeeeee;
}
.question {
  color: #333;
  text-align: center;
  font-size: 55px;
}

.line {
  height: 6px;
  background-color: #eeeeee;
  margin-top: -80px;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 140px;
  padding-top: 120px;
}
.left-input {
  display: flex;
  flex-direction: column;
}
.number-input {
  padding-bottom: 30px;
}
.input {
  background-color: transparent;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border: 4px solid white;
  font-size: 40px;
  color: #fff;
  height: 90px;
  width: 230px;
}
.check-container {
  text-align: center;
}
.right-output {
  color: #fff;
  font-size: 20px;
}
.response {
  padding-bottom: 80px;
}
.score {
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  body {
    overflow: hidden;
  }

  .modal {
    padding: 100px 50px;
    font-size: 8px;
    line-height: 2rem;
  }
  .top-container {
    padding: 17px 5px;
  }
  .primary-btn {
    height: 42px;
    width: 100px;
    font-size: 15px;
  }
  .score-limit {
    font-size: 10px;
  }
  .guess-text {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .question-container {
    width: 100px;
    height: 100px;
  }
  .question {
    font-size: 40px;
  }
  .line {
    height: 4px;
    margin-top: -60px;
    width: 100%;
  }
  .bottom-container {
    margin-top: 30px;
    margin-right: auto;
    width: 27rem;
    padding-right: 50px;
    padding-top: 80px;
  }
  .input {
    font-size: 30px;
    height: 60px;
    width: 150px;
  }
  .right-output {
    font-size: 15px;
  }
  .response {
    width: 5rem;
    padding-bottom: 40px;
    padding-left: 10px;
  }
  .score {
    padding-bottom: 5px;
  }
}
/* TABLETS & MEDIUM SCREENS */
@media (max-width: 1024px) {
  .modal {
    width: 90%;
    height: auto;
    padding: 50px 40px;
    top: 5%;
    left: 5%;
  }

  .bottom-container {
    padding-right: 40px;
    padding-top: 50px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .top-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .bottom-container {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }

  .modal {
    padding: 30px 20px;
    width: 95%;
    left: 2.5%;
  }

  .input {
    font-size: 24px;
    height: 55px;
    width: 160px;
  }

  .question-container {
    width: 90px;
    height: 90px;
  }

  .question {
    font-size: 32px;
  }

  .primary-btn {
    width: 140px;
    height: 45px;
    font-size: 14px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .guess-text {
    font-size: 18px;
  }

  .primary-btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }

  .question-container {
    width: 70px;
    height: 70px;
  }

  .question {
    font-size: 26px;
  }

  .input {
    font-size: 20px;
    height: 50px;
    width: 130px;
  }

  body {
    overflow-y: auto;
  }
}


